@media(min-width:800px) and (max-width:1700px) {
    .logo_menu_last {
        width: 65%;
    }

    .containert_ticket_last {
        width: 90%;
        display: flex;
        border: 2px solid #74AF00;
        border-radius: 8px;
        padding: 0.5rem;
        box-sizing: border-box;
        text-align: center;
    }
}

@media (max-width:800px) {
    .logo_menu_last {
        width: 65%;
    }

    .containert_ticket_last {
        width: 90%;
        display: flex;
        border: 2px solid #74AF00;
        border-radius: 8px;
        padding: 0.5rem;
        box-sizing: border-box;
        text-align: center;
    }
}

@media (max-width:400px) {

    .logo_menu_last {
        width: 65%;
    }

    .containert_ticket_last {
        width: 90%;
        display: flex;
        border: 2px solid #74AF00;
        border-radius: 8px;
        padding: 0.5rem;
        box-sizing: border-box;
        text-align: center;
    }
}